       
	   .img-overlay {
            position: relative;
			color: blue;
			background-color:  rgba(0, 0, 0, 0.5);
			border-style: solid;
            border-color: gray;
			border-width: 1px;
           
			padding: 10px;
			border-radius: 15px;
        }