@charset "utf-8";
/* CSS Document */

footer .list-group-item {
	border:none;
	margin:0;
	padding:0;
}

footer .list-group {
	margin-bottom:8%;
	margin-top:6%;
}

footer p {
	font-size:0.8em;
	margin-bottom:0;
}